{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- <masterhead> -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 text-center justify-content-center align-items-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Reaching Dreams</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Taking up a professional course is important to improve your performance in a given career. In order to acquire more advanced and better skills, many people today go for these professional courses. It further gives you confidence along with basic information.</p>
                    <a href="#about" class="btn btn-primary btn-xl js-scroll-trigger">Find Out More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About  -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need</h2>
                    <hr class="divider my-4">
                    <p class="text-white-50 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, expedita pariatur! Accusantium recusandae suscipit esse?</p>
                    <a href="#services" class="btn btn-light btn-xl js-scroll-trigger">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <!-- services  -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">At Your Services</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, totam.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Up To Date</h3>
                        <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione modi, non atque magni quasi!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Ready To Publish</h3>
                        <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, at. Incidunt pariatur facere eos. Accusantium?</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Made With Love</h3>
                        <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo earum in reprehenderit nulla. Atque!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                {% for portfolio in portfolios %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ portfolio.image.url }}" class="portfolio-box">
                        <img src="{{ portfolio.image.url }}" alt="" class="img-fluid" style="min-height: 263px;max-height: 263px">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{{ portfolio.category }}</div>
                            <div class="project-name">{{ portfolio.project_name}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- Call-To-Action  -->
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-5">Free Download Start Here!!</h2>
            <a href="" class="btn btn-light btn-xl">Download Now!!</a>
        </div>
    </section>

    <!-- Contact  -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center ">
                    <h2 class="mt-0">Let's Get In Touch</h2>
                    <hr class="divider my-3">
                    <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto mb-5 mb-lg-0 text-center">
                    <i class="fas fa-phone fa-3x mb-5 text-muted"></i>
                    <div class="">+2348130772189</div>
                </div>
                <div class="col-lg-4 mr-auto mb-5 text-center">
                    <i class="fas fa-envelope fa-3x mb-5 text-muted"></i>
                    <a href="" class="d-block">amecomglobalenterp@gmail.com</a>
                </div>
            </div>
        </div>
    </section>





    <!-- </masterhead> -->

{% endblock %}